.RegisterForm {
	z-index: 3;
}

.RegisterFromContainer {
	background-color: #fff;
	width: 432px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
}

.RegisterFormHeader {
	position: relative;
	padding: 10px 16px;
}

.RegisterFormHeaderTitle {
	font-size: 32px;
	color: #1c1e21;
	line-height: 38px;
}

.RegisterFormHeaderText {
	color: #606770;
	font-size: 15px;
	line-height: 24px;
}

.RegisterFormClose {
	position: absolute;
	top: 16px;
	right: 16px;
}

.RegisterSeparator {
	border-top: 1px solid #dadde1;
}

.RegisterFormWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
}

.RegisterFormInput {
	flex: 1;
	height: 40px;
	padding: 11px;
	border-radius: 4px;
	border: 1px solid #ccd0d4;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 16px;
	background-color: #f5f6f7;
}

.FormGroup {
	width: 100%;
	display: flex;
}

.FormGroup > input {
	outline: none;
}

input[type="text"][name="lastname"] {
	margin-right: 10px;
}

.dangerForm {
	border: 1px solid #ff0100 !important;
}

.FormBirthdayGroup {
	display: flex;
	width: 100%;
}

.FormBirthdayGroup select {
	flex: 1;
	height: 36px;
	padding: 0px 8px;
	border: 1px solid #ccd0d4;
	border-radius: 4px;
	font-size: 15px;
	color: #000;
	display: flex;
	align-items: center;
	appearance: none;
	-webkit-appearance: none; /* chrome and safari */
	-moz-appearance: none; /* Mozilla */
	position: relative;
	background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')
		100% 50% no-repeat #fff; /* change or remove #fff color if not needed */
	margin-bottom: 10px;
}

#month {
	margin: 0px 12px;
}

.FormLabel {
	display: flex;
	align-items: center;
	height: 20px;
	font-size: 12px;
	color: #606770;
	align-self: flex-start;
	margin: 2px 0;
}

.BirthdayLabelIcon {
	width: 12px;
	height: 12px;
	padding: 4px;
}

.FormGenderGroup {
	width: 100%;
	display: flex;
	align-items: center;
}

.GenderGroup {
	height: 36px;
	border: 1px solid #ccd0d4;
	border-radius: 4px;
	display: flex;
	align-items: center;
	position: relative;
	color: #1c1e21;
	flex: 1 0 auto;
}

input[type="radio"] {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.GenderGroup + .GenderGroup {
	margin-left: 12px;
}

.FormGenderLabel {
	width: 100%;
	display: inline-block;
	padding: 0 28px 0 10px;
}

.FormPolicyGroup {
	font-size: 11px;
	color: #777;
	margin: 11px 0;
	line-height: 1.34;
}

.policies {
	text-decoration: none;
	color: #385897;
}

.policies:hover {
	text-decoration: underline;
}

.FormSubmitButton {
	border: none;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	height: 36px;
	width: 194px;
	font-size: 20px;
	margin: 10px 0;
	padding: 0px 32px;
	background-color: #00a500;
	border-radius: 6px;
}

.FormSubmitButton:hover {
	background: linear-gradient(#79bc64, #578843);
}
